html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative
}

body {
    padding-top: 20px;
    display: flex;
}

.movieCard_gridList_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.grid-container {
    background-color: #1e1e1e;
    text-align: center;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    position: relative;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

.grid-container img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-container img:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.poster_title {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: auto;
}

.poster_grade {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    line-height: 1.6;
    font-weight: 600;
}

@media (max-width: 768px) {
    .movieCard_gridList_container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .poster_title {
        font-size: 1.2rem;
    }

    .poster_grade {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .movieCard_gridList_container {
        grid-template-columns: 1fr;
    }

    .grid-container {
        padding: 10px;
    }

    .poster_title {
        font-size: 1rem;
    }

    .poster_grade {
        font-size: 0.85rem;
    }
}
